h5,h4,h3,h2,h6{
	color: #314a5b;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px; 
}
h2{
	font-size: 48px;
}
h3{
	font-size: 40px;
}
h4{
	font-size: 32px;
}
h5{
	font-size: 26px;
}
h6{
	font-size: 22px;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #9aa0ab;

}
.about-us{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: #314a5b;
	margin-top: 0px;
}
.more-red{
	color: #f04950;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-decoration: none;
}
.position-red{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #f0454c;
	margin: 0px;
}
.dot-red{
	color: #f0454c;
}
.col-2{
	width: 50%;
	float: left;
	margin-top: 100px;
	box-sizing: border-box;
}
.col-3{
	width: 33.3%;
	float: left;
	box-sizing: border-box;
	margin-top: 100px;
}
.col-6{
	width: 19%;
	float: left;
	box-sizing: border-box;
	margin-top: 100px;
}
.col-6-img{
	width: 14%;
}
.col-6-padding{
	padding-right: 1%;
}
.middle-container{
	width: 100%;
	max-width: 920px;
	margin: 0px auto;
	overflow: hidden;
}
.row {
	display: table;
	width: 100%;
}





header{
	width: 100%;
	height: 100vh;
	background: url(../images/background.jpg)no-repeat;
	background-size: cover;
	
}
.logo{
	display: block;
	font-family: 'Domine', serif;
	font-weight: 700;
	color: #ffffff;
	font-size: 20px;
	padding-top: 50px;
    padding-bottom: 10px;
	text-align: center;
}
.logo-red{
	width: 13%;
	background-color: #fa5c65; 
	border-radius: 0px 0 5px 5px;
	float: left;
}
.panel-menu{
    width: 75%;
    float: right;
    text-align: right;
}
.menu li{
	display: inline-block;
	text-decoration: none;
}
.menu-a{
	color: #263742;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-decoration: none;
}
header h2{
	padding-top: 350px;
	margin-bottom: 0px; 
	
}
.button{
	color: #fff;
	background: #fa5c65;
	padding: 20px 30px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border-radius: 5px;
	text-decoration: none;
    display: block;
    width: 10%;
    margin-top: 20px;
}




/*content*/
.maxbook{
    margin-left: -123px;

} 
.workers{
	width: 100%;
	float: left;
    margin-top: 150px;
}
.workers .about-us{
	color: #9aa0ab;
	font-size: 16px;

}
.col-6 p{
	font-size: 14px;
}
.col-6 a{
	float: right;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: right;
}



/*footer*/

.middle-container-footer{
	border-top: 1px solid  #9aa0ab;

}
.social-network{
	padding-left: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
    width: 30%;
	float: left;
}
.social-network li{
	text-decoration: none;
	display: inline-block;
	margin-right: 20px;
}
.copyright{
	width: 36%;
	float: right;
	padding-top: 15px;
}